<div class="lmx-notifications">
    <div ng-repeat="(text, type) in notifications.value">
        <div class="lmx-alert" ng-class="::{'lmx-alert-info': type == notificationTypes.message,'lmx-alert-warning': type == notificationTypes.error,'lmx-alert-danger': type == notificationTypes.critical}">
            <span class="lmx-close-btn" ng-click="clearNotifications(area)" ng-if="!notificationsAreEmpty()">&times;</span>
            <span ng-bind-html=":: text"></span>
        </div>
    </div>
</div>
