<div class="lmx-container lmx-balance">
    <section>
        <h2>{{'balance.title' | translate}}</h2>
        <div loader="inProgress">
            <div ng-if="!inProgress" ng-switch="!!balanceAccounts.length">
                <div ng-switch-when="true" class="lmx-balance-block">
                    <lmx-tabs list="balanceAccounts" ng-model="selectedAccount" view-field="title">
                    </lmx-tabs>
                    <balance-info></balance-info>
                    <div class="lmx-hidden lmx-balance-accordion-wrap">
                        <uib-accordion class="lmx-balance-accordion">
                            <uib-accordion-group ng-repeat="selectedAccount in balanceAccounts" class="lmx-balance-accordion-group">
                                <uib-accordion-heading class="lmx-balance-header">
                                    <span>{{::selectedAccount.title}}</span>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                    <span class="glyphicon glyphicon-chevron-up"></span>
                                </uib-accordion-heading>
                                <balance-info></balance-info>
                            </uib-accordion-group>
                        </uib-accordion>
                    </div>
                </div>
                <div ng-switch-when="false" class="lmx-no-balance-block">
                    {{'balance.infoNotFound' | translate}}
                </div>
            </div>
        </div>
    </section>
</div>
