<div class="card-codes-modal">
    <div class="modal-body">
        <section ng-if=":: displayBarCode" class="bar-code margin-bottom">
            <h2>{{'cards.graphicalCodesModal.barCode' | translate}}</h2>
            <angular-barcode ng-model="card.number" bc-type="svg"></angular-barcode>
        </section>

        <section ng-if=":: displayQrCode" class="qr-code">
            <h2>{{'cards.graphicalCodesModal.qrCode' | translate}}</h2>
            <qrcode data="{{:: card.number}}" size="222"></qrcode>
        </section>
    </div>

    <div class="modal-footer btn-container">
        <button type="button" ng-click="close()">{{'buttons.close' | translate}}</button>
    </div>
</div>
