<div loader="questionnaireLoader">
    <div ng-if="canShowEmail" class="lmx-user-email lmx-row">
        <div ng-if=":: registration">
            <h2>
                {{'registration.emailStep.' + (step === 1 ? 'emailTitle' : 'codeTitle') |
                translate}}
            </h2>
            <lmx-notifications area="registration"></lmx-notifications>
        </div>
        <div loader="isChangeProcessStarted === undefined">
            <div ng-if="isChangeProcessStarted === false" class="lmx-settings-line">
                <h3>Email</h3>
                <lmx-notifications area="userEmail"></lmx-notifications>
                <div class="lmx-current-value-container">
                    <div class="lmx-current-value">{{:: currentEmail}}</div>
                    <div>
                        <a ng-click="openForm()" class="lmx-pseudolink" href="">{{'buttons.change'|translate}}</a>
                    </div>
                </div>
            </div>
            <div ng-if="isChangeProcessStarted" class="lmx-user-email-changing">
                <div ng-if=":: !registration">
                    <div class="lmx-echeque-warning" ng-if="questionnaire">
                        {{ 'questionnaire.echequeAgreement' | translate }}
                    </div>
                    <h3 ng-if="!alertModal">Email</h3>
                    <lmx-notifications area="userEmail"></lmx-notifications>
                </div>
                <form novalidate="" name="form" ng-submit="form.$valid && next(form)">
                    <div ng-if="step === 1">
                        <div ng-if=":: !registration" class="lmx-hint">
                            <p ng-bind-html="'contacts.userEmail.emailHint' | translate" ng-if="!alertModal"></p>
                        </div>

                        <form-group label-text="{{(registration ? 'registration.emailStep' : 'contacts.userEmail') + '.email' | translate}}">
                            <input type="email" ng-model="model.newEmail" name="email" id="lmx-newEmail" ng-disabled="loader.inProgress" required="" autofocus="">
                        </form-group>

                        <div ng-if="emailSkippable" class="lmx-margin-bottom">
                            <a ng-click="skipStep()" href="">{{'registration.emailStep.skipEmailStep' | translate}}</a>
                        </div>
                    </div>

                    <div ng-if="step === 2">
                        <div class="lmx-hint" ng-switch=":: !!registration">
                            <p ng-switch-when="true">
                                {{'registration.emailStep.codeHint' | translate}}
                            </p>
                            <p ng-switch-when="false" ng-bind-html="('contacts.userEmail.codeHint' | translate) + ' <strong>' + newEmail + '</strong>'"></p>
                        </div>

                        <form-group label-text="{{(registration ? 'registration.emailStep' : 'contacts.userEmail') + '.confirmationCode' | translate}}">
                            <input type="text" ng-model="model.confirmationCode" name="confirmcode" id="lmx-confirmationCode" integer="" ng-disabled="loader.inProgress" required="" autofocus="">
                        </form-group>

                        <div ng-if="emailSkippable" class="lmx-margin-bottom">
                            <a ng-click="skipStep()" href="">{{'registration.emailStep.skipCodeStep' | translate}}</a>
                        </div>

                        <div class="lmx-margin-bottom" ng-hide="loader.inProgress">
                            <a ng-click="!resendTimer.time && reSendCode()" id="lmx-changeEmail-resend" href="">
                                {{(registration ? 'registration.emailStep' : 'contacts.userEmail') +
                                '.sendConfirmCode' | translate}}
                                <span ng-if="resendTimer.time">({{resendTimer.time}})</span> </a><br>
                            <a ng-click="reEnterEmail(form)" id="lmx-changeEmail-reenter" href="">
                                {{(registration ? 'registration.emailStep' : 'contacts.userEmail') +
                                '.resetEmail' | translate}}
                            </a>
                        </div>
                    </div>
                    <div class="lmx-btn-container">
                        <inline-loader line="">loader.inProgress</inline-loader>
                        <div ng-hide="loader.inProgress">
                            <button type="button" ng-click="closeForm()" class="lmx-btn-cancel" id="lmx-changeEmail-cancel">
                                {{'buttons.cancel' | translate}}
                            </button>
                            <button type="submit" id="lmx-changeEmail-continue">
                                {{'buttons.next' | translate}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
