<div class="lmx-user-info lmx-row" loader="!isInfoLoaded">
    <div ng-if=":: isInfoLoaded">
        <dl class="lmx-clearfix">
            <script type="text/javascript">
                $(".header-menu-sidebar .lmx-user-info a").click(function() {
                    $('body').addClass("hiding-header-menu-sidebar");
                    $('body').removeClass("is-menu-sidebar");
                    var toggleButtons = $(".menu-mobile-toggle, .menu-mobile-toggle .hamburger");
                    toggleButtons.removeClass("is-active"); 
                });
            </script>
            <dt class="lmx-user-info__name">
                <a ng-href="/#/personal">
                    <!-- <span>{{userInfo.lastName}}</span> -->
                    <span>{{userInfo.firstName}}</span>
                    <!-- <span>{{userInfo.patronymicName}}</span> -->
                </a>
            </dt>
            <div class="lmx-card-status" ng-if='userStatus[0].statuses.length'>
                <span class='lmx-status-level'>{{'status.currentLevelUser' | translate}}:</span>
                <span class='lmx-definition'>{{userStatus[0].currentStatus.name}}</span><br>
                <!-- <span class='lmx-status-points'>{{'status.countPoints' | translate}}:</span> -->
                <!-- <span class='lmx-definition'>{{userStatus[0].currentValue | number: 2 }} р.</span> -->
            </div>
            <div class="lmx-card-status" ng-if='!userStatus[0].statuses.length'>
                <span class='lmx-status-level'>{{'status.currentLevelUser' | translate}}: стандарт</span>
                <!-- <span class='lmx-status-points'>{{'status.countPoints' | translate}}:</span> -->
                <!-- <span class='lmx-definition'>{{userStatus[0].currentValue | number: 2 }} р.</span> -->
            </div>
        </dl>

        

        <div class="lmx-user-info__logout lmx-clearfix">
            <!-- <a ng-click="logout(isPassiveLogout)" class="lmx-right" href="/#/login">{{'userInfo.logout' | translate}}</a> -->
        </div>
    </div>
</div>
