<div class="lmx-container lmx-brand">
    <section>
        <h2>{{::brand.name}}</h2>
        <p>{{::brand.description}}</p>
        <div class="lmx-content">
            <div class="lmx-image">
                <img ng-src="{{:: brand.imgUrl}}" fallback-image="" fallback-title="{{'imageNotFound' | translate}}" alt="">
            </div>
            <a ng-href="{{::brand.url}}">{{'brands.site' | translate}}</a>
            <div ng-if="merchants.length">
                <p>{{'brands.locations' | translate}}:</p>
                <div ng-repeat="merchant in merchants track by merchant.id">
                    <span>{{::merchant.location.description}}</span>
                </div>
                <lmx-map class="lmx-map" data="merchants" options="{
                                    markerImg: brand.markerUrl,
                                    markerSize: [29, 32]
                                   }">
                </lmx-map>
            </div>
        </div>
    </section>
</div>
