<div class="lmx-buy-coupon-modal" loader="inProgress">
    <div class="modal-header">
        <div class="lmx-modal-closer" ng-click="cancel()"></div>
        <h2>{{'showcase.buyCoupon.title' | translate}}</h2>
        <div class="lmx-modal-description">{{:: coupon.name}}</div>
    </div>
    <div class="modal-body">
        <div class="lmx-clearfix">
            <div ng-if="!triedToBuy">
                {{:: coupon.description}}
            </div>
            <div ng-if="triedToBuy">
                <div ng-if="result.success">
                    <span ng-bind-html="'showcase.buyCoupon.couponBought' | translate: {couponNumber: result.success.text}"></span>
                    <br>{{'showcase.buyCoupon.date' | translate}}: {{:: result.success.recievedDate | shortDateTime}}
                    <span ng-if="result.success.expireDate"><br>{{'showcase.buyCoupon.expirationDate' | translate}} {{:: result.success.expireDate | shortDateTime}}</span>
                </div>
                <div ng-if="result.error">
                    <pre>{{'showcase.buyCoupon.error' | translate}}</pre>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer lmx-btn-container">
        <div ng-if="!triedToBuy">
            <button type="button" ng-click="buyCoupon(coupon.id)">{{'showcase.buyCoupon.payBonuses' | translate}}</button>
            <button type="button" class="lmx-btn-cancel" ng-click="cancel()">{{'buttons.cancel' | translate}}</button>
        </div>
        <div ng-if="triedToBuy">
            <button type="button" ng-click="cancel()">{{'buttons.close' | translate}}</button>
        </div>
    </div>
</div>
