<div class="lmx-container lmx-registration">
    <div class="lmx-registration" ng-class="'lmx-'+currentStep">
        <!-- INITIAL-FORM -->
        <div ng-if="!isRegistrationStarted" class="lmx-registration-form">
            <registration-start></registration-start>
        </div>
        <!-- // INITIAL-FORM -->

        <!-- STEPS -->
        <div ng-if="isRegistrationStarted && !registrationCompleted" class="lmx-registration-steps" ng-switch="currentStep" loader="currentStep == undefined || inProgress">
            <div ng-hide="inProgress">
                <tender-offer ng-switch-when="AcceptTenderOffer"></tender-offer>
                <lmx-user-phone ng-switch-when="ChangePhone" registration="true"></lmx-user-phone>
                <lmx-user-email ng-switch-when="ChangeEmail" registration="true" email-skippable="emailSkippable"></lmx-user-email>
                <lmx-user-password ng-switch-when="PasswordRequired" registration="true"></lmx-user-password>
                <lmx-questionnaire ng-switch-when="Questions" registration="true" only-required=""></lmx-questionnaire>
                <card-assignment ng-switch-when="AssignCard"></card-assignment>
            </div>
        </div>
        <!-- // STEPS -->

        <!-- COMPLETE-MESSAGE -->
        <div ng-if="registrationCompleted" class="lmx-registration-finish" loader="inProgress">
            <registration-finish></registration-finish>
        </div>
        <!-- // COMPLETE-MESSAGE -->
    </div>
    <a class='lmx-login-link' href=#login>Войти</a>
</div>
