<div>
    <div class="lmx-modal-closer" ng-click="cancel()"></div>
    <div loader="inProgress">
        <div ng-if="!inProgress">
            <div class="modal-header">
                <div class='head'>{{ 'offers.title' | translate }}</div>
                <h2>{{:: offer.title}}</h2>
            </div>

            <div class="modal-body">
                <div class="lmx-image">
                    <img ng-src="{{::offer.imgUrl}}" fallback-image="" fallback-title="{{'imageNotFound' | translate}}" alt="">

                    <div class="lmx-reward-thumbnail" ng-if=":: offer.rewardThumbnail" ng-switch="rewardThumbnailTypes[offer.rewardThumbnail.$type]">
                        <div class="lmx-thumbnail lmx-two-line-text" ng-switch-when="twoLineText">
                            <div title="{{::offer.rewardThumbnail.firstLine}}" class="lmx-first-line">
                                {{::offer.rewardThumbnail.firstLine}}
                            </div>
                            <div title="{{::offer.rewardThumbnail.secondLine}}" class="lmx-second-line">
                                {{::offer.rewardThumbnail.secondLine}}
                            </div>
                        </div>
                        <div class="lmx-thumbnail lmx-image-with-text" ng-switch-when="imageWithText">
                            <div title="{{::offer.rewardThumbnail.header}}">
                                {{::offer.rewardThumbnail.header}}
                            </div>
                            <div class="lmx-reward-image">
                                <img ng-src="{{::offer.rewardThumbnail.imgUrl || 'undefined'}}" fallback-image="" fallback-title="{{'imageNotFound' | translate}}" alt="">
                            </div>
                            <div title="{{::offer.rewardThumbnail.footer}}">
                                {{::offer.rewardThumbnail.footer}}
                            </div>
                        </div>
                        <div class="lmx-thumbnail lmx-old-new-price" ng-switch-when="oldNewPrice">
                            <div title="{{::offer.rewardThumbnail.oldPrice}}" class="lmx-old-price">
                                {{::offer.rewardThumbnail.oldPrice}}
                            </div>
                            <div title="{{::offer.rewardThumbnail.newPrice}}" class="lmx-new-price">
                                {{::offer.rewardThumbnail.newPrice}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lmx-details">
                    <div class='lmx-date'>
                        <div class="lmx-offer-title">{{'offers.date' | translate}}:</div>
                        <div>{{:: (offer.begin | toUTC) | dateRange: (offer.end | toUTC)}}</div>
                    </div>

                    <section ng-if=":: offer.description">
                        <div class="lmx-offer-title">{{'offers.description' | translate}}:</div>
                        <div ng-bind-html="offer.description | markdown"></div>
                    </section>

                    <section ng-if=":: offer.instructions.length">
                        <div class="lmx-offer-title">{{'offers.instructions' | translate}}:</div>
                        <ol>
                            <li ng-repeat="item in offer.instructions track by $index">
                                {{::item }}
                            </li>
                        </ol>
                    </section>

                    <section ng-if=":: offer.merchants.length" ng-init="merchantsLimit = (offer.merchants.length === 4 ? 4 : 3)">
                        <div class="lmx-offer-title">{{'offers.merchants' | translate}}:</div>
                        <ul>
                            <li ng-repeat="merchant in offer.merchants | limitTo: merchantsLimit track by merchant.id">
                                {{:: merchant.title}}{{:: merchant.location ? (', ' +
                                merchant.location.description) : ''}}
                            </li>
                        </ul>
                        <a class="lmx-pseudolink" ng-if="merchantsLimit !== offer.merchants.length && offer.merchants.length > 4" ng-click="$parent.merchantsLimit = offer.merchants.length" href="">
                            <span ng-if="merchantsCountText">{{'offers.showAllMerchants' | translate}}
                                <span ng-bind-html="merchantsCountText"></span></span>
                        </a>
                        <a class="lmx-pseudolink" ng-if="merchantsLimit === offer.merchants.length && offer.merchants.length > 4" ng-click="$parent.merchantsLimit = 3" href="">
                            {{'offers.hideMerchants' | translate}}
                        </a>
                    </section>
                </div>
            </div>

            <div class="modal-footer lmx-btn-container">
                <button type="button" ng-click="cancel()">{{'buttons.close' | translate}}</button>
            </div>
        </div>
    </div>
</div>
