<div class="lmx-container lmx-history">
    <section>
        <h2 ng-if=":: !isPreview">{{'history.title' | translate}}</h2>
        
        <div class='status-history-block'>
            
        <div loader="history === undefined" class="history-block">
            <div ng-show=":: history" class="history-block-table">
                <div ng-show=":: !isPreview" class="lmx-history-filters lmx-clearfix lmx-margin-bottom">
                    <div class="date-filters">
                        <div class="date-filter lmx-since-date-filter">
                            <span class="lmx-pretext">{{'history.fromDate' | translate}}</span>
                            <date-picker ng-model="fromDate" ng-change="reloadHistory()">
                            </date-picker>
                        </div>
                        <div class="date-filter lmx-to-date-filter">
                            <span class="lmx-pretext">{{'history.toDate' | translate}}</span>
                            <date-picker ng-model="toDate" ng-change="reloadHistory()">
                            </date-picker>
                        </div>
                    </div>
                    <div class="lmx-card-filter">
                        <inline-loader>cardsInProgress</inline-loader>
                        <div ng-hide="cardsInProgress">
                            <select ng-model="selectedCard" ng-change="reloadHistory()" id="lmx-cardFilter" name="cardFilter">
                                <option ng-value="0">{{'history.allCards' | translate}}</option>
                                <option ng-repeat="card in cards" ng-value="card.id">{{:: card.number | charsDivide: 4}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="lmx-reset-filters">
                        <a ng-click="resetFilters()" class="lmx-pseudolink" href="">{{'history.resetFilters' | translate}}</a>
                    </div>
                </div>
                
                <div class="lmx-history-table" ng-show="history.allCount || inProgress">
                    <div class="lmx-operations-list lmx-margin-bottom" loader="inProgress && (isPaginated || isReload)">
                        <div ng-class="{'lmx-loading': inProgress}" ng-hide="inProgress && isReload">
                            <table ng-if="history.rows.length">
                                <thead>
                                <tr>
                                    <th>{{'history.date' | translate}}</th>
                                    <th>{{'history.cardNumber' | translate}}</th>
                                    <th>{{'history.description' | translate}}</th>
                                    <th>{{'history.amount' | translate}}</th>
                                    <th>{{'history.operation' | translate}}</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="item in history.rows track by item.id" ng-if="item.type === 'PurchaseData'" class-toggle-click="cheque-opened" ng-class="::{'lmx-empty-cheque': !item.data.chequeItems.length}">
                                <tr class="lmx-operation-info">
                                    <td class="date-time" ng-attr-title="{{:: item.dateTime | toUTC | shortDateTime}}">
                                        <!-- {{:: item.dateTime | toUTC | shortDateTime}} -->
                                        <span class='desctop-time'>{{:: item.dateTime | date: 'd MMMM yyyy H:mm' }}</span>
                                        <span class='mobile-time'> {{:: item.dateTime | date: 'd MMMM yyyy' }}<br>{{:: item.dateTime | date: 'H:mm' }}</span>
                                        <span>{{:: item.dateTime | date: 'EEEE' }}</span>
                                        <span class="lmx-description-text">{{:: item.description}}</span>
                                    </td>
                                    <td class="lmx-identity" ng-attr-title="{{:: item.identity ? ('**** ' + (item.identity | lastCount: 4)) : undefined}}">
                                        <span ng-if="::item.identity">**** <b>{{:: item.identity | lastCount: 4 }}</b></span>
                                    </td>
                                    <td class="lmx-description" ng-attr-title="{{:: item.description}}">
                                        <img ng-if=":: item.logoSquareUrl" ng-src="{{:: item.logoSquareUrl}}" class="lmx-logo-square" fallback-image="" fallback-title="{{'imageNotFound' | translate}}" alt="">
                                        <span class="lmx-description-text">{{:: item.description}}</span>
                                    </td>
                                    <td class="lmx-withdraws lmx-amount">
                                        <div ng-if="item.data.chequeItems.length">
                                            {{::item.data.amount.amount | number: 2}} {{:: item.data.amount.currency }}
                                        </div>
                                        <!-- Начисления, списания  -->
                                        <div ng-if=":: item.data.withdraws.length && !item.data.chequeItems.length" ng-repeat="wdrw in item.data.withdraws" ng-attr-title="{{:: (item.data.isRefund ? wdrw.amount.amount * -1 : wdrw.amount.amount) | number: 2}} {{:: wdrw.amount.currency }}" class="lmx-text-overflow-ellipsis">
                                            {{:: (item.data.isRefund ? wdrw.amount.amount * -1 : wdrw.amount.amount) | number: 2}}
                                            {{:: wdrw.amount.currency }}
                                        </div>
                                        <!-- <div ng-if=":: item.data.rewards.length" ng-repeat="(type, values) in item.rewardsResult">
                                            <div ng-repeat="(currency, value) in values" ng-attr-title="{{:: (item.data.isRefund ? value * -1 : value) | number: 2}} {{:: currency }}" class="lmx-text-overflow-ellipsis">
                                                {{:: (item.data.isRefund ? value * -1 : value) | number: 2}}
                                                {{:: currency }}
                                            </div>
                                        </div> -->
                                        <div ng-if=":: item.type == 'RewardData' || item.type == 'WithdrawData'" ng-attr-title="{{:: (item.data.isRefund ? item.data.amount.amount * -1 : item.data.amount.amount) | number: 2}} {{:: item.data.amount.currency }}" class="lmx-text-overflow-ellipsis">
                                            {{:: (item.data.isRefund ? item.data.amount.amount * -1 : item.data.amount.amount) | number: 2}}
                                            {{:: item.data.amount.currency }}
                                        </div>
                                        <!-- Начисления, списания  -->
                                    </td>
                                    <td class="lmx-withdraws lmx-text">
                                        <div ng-if=":: item.data.rewards.length" ng-repeat="discount in item.data.rewards">
                                            <span ng-if="discount.rewardType == 'Discount'">{{::discount.amount.amount }} {{::discount.amount.currency}}</span>
                                        </div>
                                    </td>
                                    
                                    <td class="lmx-cheque-expander"></td>
                                </tr>
                                <tr class="lmx-cheque-info" ng-if="item.data.chequeItems.length">
                                    <td colspan="6">
                                        <div class="lmx-cheque-content">
                                            <div class="lmx-cheque-line" ng-repeat="chequeItem in item.data.chequeItems">
                                                <span class="lmx-cheque-item">{{::chequeItem.description | nbspSpaces}}</span>
                                                <span class="lmx-cheque-count">{{::chequeItem.count}} </span>
                                                <span ng-if=":: chequeItem.amount" class="lmx-cheque-amount">{{:: chequeItem.amount}} {{:: item.data.amount.currency }}</span>
                                            </div>
                                            <div class="lmx-cheque-total total" ng-init='discountSum = { value: 0 } '>
                                                <div ng-repeat="discount in item.data.rewards">
                                                    <span ng-if="discount.rewardType == 'Discount'" ng-init='discountSum.value = discountSum.value + discount.amount.amount'></span>
                                                </div>
                                                <div class='lmx-cheque-total-text'>
                                                    <span class='lmx-cheque-total text'>Сумма</span>
                                                    <span class='lmx-cheque-total text'>Ваша скидка</span>
                                                    <span class='lmx-cheque-total text'>ИТОГО</span>
                                                </div>
                                                <div class="lmx-cheque-total-count">
                                                    <span class='lmx-cheque-total-amount amount'>{{ currency(item.data.amount.amount).add(discountSum.value) }} {{:: item.data.amount.currency }}</span>
                                                    <span class='lmx-cheque-total-amount amount discount'>{{ discountSum.value }} {{:: item.data.amount.currency }}</span>
                                                    <span class="lmx-cheque-total-amount amount">{{::item.data.amount.amount | number: 2}} {{:: item.data.amount.currency }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div ng-show=":: !isPreview" ng-switch=":: !!isPaginated">
                        <uib-pagination ng-switch-when="true" ng-show="!isReload && history.allCount > onPage" total-items="history.allCount" ng-model="$parent.currentPage" max-size="4" items-per-page="{{:: onPage}}" class="lmx-pagination" boundary-links="true" boundary-link-numbers="true" direction-links="false" force-ellipses="true" first-text="<<" last-text=">>" ng-change="paginationChange()"></uib-pagination>
                        <div ng-switch-when="false">
                            <a class="lmx-pseudolink lmx-right" ng-if="!inProgress && (from + onPage < history.allCount)" ng-click="increaseFrom()" href="">{{'history.showMore' | translate}}</a>
                            <inline-loader line="">inProgress && !isReload</inline-loader>
                        </div>
                    </div>
                    <a ng-if=":: isPreview" href="#history" class="lmx-pseudolink">{{'history.goToFullHistory' | translate}}</a>
                </div>
                <div class="lmx-history-not-found" ng-if="!history.allCount && !inProgress">
                    <img src="/wp-content/uploads/empty-history.png" alt="" >
                    <span>{{'history.notFound.first' | translate}}</span>
                    <span>{{'history.notFound.second' | translate}}</span>
                    <a class='igooods' href="https://igooods.ru/" target="_blank"></a>
                </div>
            </div>
        </div>
        
        <history-month-discount ng-if="currentLocation === 'history'" class='lmx-history-status'></history-month-discount>

        </div>
    </section>
</div>
