<div class="lmx-container lmx-options">
    <section>
        <h2>Параметры сайта</h2>

        <table>
            <tr>
                <td>
                    <input type="text" id="lmx-api" ng-model="api">
                    <label for="lmx-api">API</label>
                </td>
                <td>
                    <button type="button" ng-click="saveConfiguration('host', api)">
                        {{'buttons.save' | translate}}
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="lmx-showcaseApi" ng-model="showcaseApi">
                    <label for="lmx-showcaseApi">ShowcaseAPI</label>
                </td>
                <td>
                    <button type="button" ng-click="saveConfiguration('showcaseHost', showcaseApi)">
                        {{'buttons.save' | translate}}
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="lmx-locales" ng-model="locales" required="">
                    <label for="lmx-locales">Локализации</label>
                </td>
                <td>
                    <button type="button" ng-click="saveConfiguration('locales', locales)">
                        {{'buttons.save' | translate}}
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="lmx-reCaptchaSiteKey" ng-model="reCaptchaSiteKey">
                    <label for="lmx-reCaptchaSiteKey">reCaptchaSiteKey</label>
                </td>
                <td>
                    <button type="button" ng-click="saveConfiguration('reCaptchaSiteKey', reCaptchaSiteKey)">
                        {{'buttons.save' | translate}}
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="lmx-oAuthClientId" ng-model="oAuthClientId">
                    <label ng-class="{'active': oAuthClientId}" for="lmx-oAuthClientId">oAuthClientId</label>
                </td>
                <td>
                    <button type="button" ng-click="saveConfiguration('oAuthClientId', oAuthClientId)">
                        {{'buttons.save' | translate}}
                    </button>
                </td>
            </tr>
        </table>

        <h2>Опции компонент</h2>
        <div class="lmx-components-option">
            <table ng-repeat="(key, value) in components">
                <thead>
                    <th>{{optionsNames[key]}}</th>
                </thead>

                <tbody>
                    <tr ng-repeat="(compKey, compValue) in value">
                        <td>{{compKey}}</td>
                        <td ng-init="inputType = getType(compValue)" ng-switch="inputType" class="lmx-option-value">
                            <textarea ng-switch-when="textarea" ng-attr-id="{{compKey}}" readonly="">
                                {{value[compKey] | json}}
                            </textarea>
                            <input ng-switch-default="" ng-attr-id="{{compKey}}" ng-attr-type="{{inputType}}" ng-class="'lmx-'+getClass(compValue)" ng-model="value[compKey]">
                            <label ng-attr-for="{{compKey}}"></label>
                        </td>
                        <td class="lmx-option-description">{{optionsNames[compKey]}}</td>
                    </tr>
                </tbody>
            </table>

            <button type="button" ng-click="saveComponentsOptions()">
                {{'buttons.save' | translate}}
            </button>
        </div>

        <h2>Общие опции</h2>
        <div class="lmx-components-option">
            <table>
                <tbody>
                    <tr ng-repeat="(key, value) in common">
                        <td>{{key}}</td>
                        <td ng-init="inputType = getType(value)" ng-switch="inputType" class="lmx-option-value">
                            <textarea ng-switch-when="textarea" ng-attr-id="{{key}}" readonly="">
                                {{common[key] | json}}
                            </textarea>
                            <input ng-switch-default="" ng-attr-id="{{key}}" ng-attr-type="{{inputType}}" ng-class="'lmx-'+getClass(value)" ng-model="common[key]">
                            <label ng-attr-for="{{key}}"></label>
                        </td>
                        <td class="lmx-option-description">{{optionsNames[key]}}</td>
                    </tr>
                </tbody>
            </table>

            <button type="button" ng-click="saveCommonOptions()">
                {{'buttons.save' | translate}}
            </button>
        </div>
    </section>
</div>
