<div class="lmx-container lmx-reset-password">
    <h2>{{'resetPassword.title' | translate}}</h2>
    <notifications area="resetPassword"></notifications>

    <p ng-if="steps.start">{{'resetPassword.identityHint' | translate}}</p>
    <identifiers ng-if="steps.start && identifiers.arr !== undefined" identifiers="identifiers.arr" ng-model="model.identifier" ng-change="resetFormModels()"></identifiers>

    <div class="lmx-auth-frame">
        <form novalidate="" ng-if="steps.start" name="forms.resetPasswordStart" id="lmx-resetPasswordStart" ng-submit="forms.resetPasswordStart.$valid && start()">
            <form-group ng-if="!inProgress && model.identifier === IDENTIFIERS.phone" label-text="{{'identifiers.' + model.identifier | translate}}">
                <phone-input ng-model="model.identity" id="lmx-startIdentity_{{model.identifier}}" name="startIdentity" ng-disabled="inProgress" required="" autofocus=""></phone-input>
            </form-group>
            <form-group ng-if="model.identifier === IDENTIFIERS.email" label-text="{{'identifiers.' + model.identifier | translate}}">
                <input type="email" ng-model="model.identity" id="lmx-startIdentity_{{model.identifier}}" name="startIdentity" ng-disabled="inProgress" placeholder="example@mail.com" required="">
            </form-group>
            <div class="lmx-btn-container">
                <div ng-hide="inProgress">
                    <button type="button" class="lmx-btn-cancel" ng-click="cancel()">{{'buttons.cancel' | translate}}</button>
                    <button type="submit" id="lmx-reset-password-submit">{{'buttons.next' | translate}}</button>
                </div>
                <inline-loader line="">inProgress</inline-loader>
            </div>
        </form>
        <form novalidate="" ng-if="steps.confirm" name="forms.resetPasswordConfirm" ng-submit="forms.resetPasswordConfirm.$valid && confirm()">
            <div class="lmx-hint">
                <p ng-if=":: phoneIdentifier" ng-bind-html="('resetPassword.smsCodeHint' | translate) + ' <strong>' + phoneIdentifier + '</strong>'"></p>
                <p ng-if=":: emailIdentifier" ng-bind-html="('resetPassword.emailCodeHint' | translate) + ' <strong>' + emailIdentifier + '</strong>'"></p>
            </div>
            <form-group ng-hide="isResetPasswordConfirmationCodeHidden()" class="lmx-confirm-code-field" label-text="{{'resetPassword.confirmCode' | translate}}">
                <input ng-model="model.confirmCode" ng-disabled="inProgress" id="lmx-confirmCode" name="confirmcode" type="text" required="">
            </form-group>
            <div>
                <a id="lmx-confirm-code-repeated" ng-click="start(true)" ng-hide="inProgress" href="">{{'resetPassword.resendCode' | translate}}</a>
            </div>
            <form-group label-text="{{'resetPassword.newPassword' | translate}}">
                <input type="password" ng-model="model.newPassword" ng-disabled="inProgress" id="lmx-newPassword" name="newPassword" user-password-requirements="" required="">
            </form-group>
            <form-group label-text="{{'resetPassword.newPasswordConfirmCode' | translate}}">
                <input type="password" ng-model="model.repeatPassword" ng-disabled="inProgress" id="lmx-newPasswordConfirm" name="newPasswordConfirm" is-equal-passwords="model.newPassword" required="">
            </form-group>
            <div class="lmx-btn-container">
                <div ng-hide="inProgress">
                    <button type="button" class="lmx-btn-cancel" id="lmx-confirm-code-cancel" ng-click="cancel()">{{'buttons.cancel' | translate}}</button>
                    <button type="submit" id="lmx-confirm-code-submit">{{'buttons.next' | translate}}</button>
                </div>
                <inline-loader line="">inProgress</inline-loader>
            </div>
        </form>
    </div>
</div>
