<div class="lmx-container lmx-showcase">
    <h2>{{'showcase.title' | translate}}</h2>

    <div class="lmx-margin-bottom">
        <a ng-click="changeType(false)" href="">
            {{'showcase.main' | translate}}
        </a>
        <a ng-click="changeType(true)" href="">
            {{'showcase.categories' | translate}}
        </a>
    </div>

    <div loader="inProgress">
        <div ng-if="!categoriesType && !inProgress" class="lmx-main-coupon">
            <!--ITEM STARTS-->
            <coupon ng-repeat="coupon in coupons | orderBy: 'id'"></coupon>
            <!--ITEM ENDS-->
        </div>

        <div ng-if="categoriesType" class="lmx-category-coupons">
            <div class="lmx-left">
                <a ng-if="!inProgress" class="lmx-btn" ng-repeat="(logicalName, categoryObject) in couponsByCategories" ng-click="showCategory(logicalName)" href="">
                    {{:: categoryObject.name }}
                </a>
            </div>
            <div ng-repeat="(logicalName, categoryObject) in couponsByCategories">
                <div class="lmx-category-wrapper" ng-if="!selectedCategory || logicalName == selectedCategory">
                    <div>
                        <h5>
                            <a ng-click="showCategory(logicalName)" href="">{{:: categoryObject.name }} ({{:: categoryObject.coupons.length }})</a>
                        </h5>
                    </div>
                    <coupon ng-repeat="coupon in categoryObject.coupons | limitTo: selectedCategory? null : 2"></coupon>
                </div>
            </div>
        </div>
    </div>
</div>
