<div>
    <div class="lmx-container lmx-personal-offers" ng-if="!appLocationParts[1]">
        <h2>{{'personalOffers.title' | translate}}</h2>
        <div loader="inProgress">
            <div class="lmx-margin-bottom" ng-if="!inProgress">
                <div ng-repeat="personalOffer in personalOffers track by personalOffer.id" class="lmx-card">
                    <personal-offer-content personal-offer="personalOffer"></personal-offer-content>
                    <div class="lmx-card-action lmx-clearfix">
                        <button type="button" ng-click="openOffer(personalOffer.id)">
                            {{'buttons.viewMore' | translate}}
                        </button>
                    </div>
                </div>
                <div ng-if=":: !personalOffers.length">
                    {{'personalOffers.noActiveOffers' | translate}}
                </div>
            </div>
        </div>
    </div>
    <personal-offer ng-if="appLocationParts[1]" offer-id="appLocationParts[1]"></personal-offer>
</div>
