<div class="lmx-form-group lmx-clearfix lmx-row" ng-class="{'lmx-has-error': form.$submitted && model.$invalid}">
    <div ng-if="labelText !== undefined" class="lmx-label-container">
        <label class="lmx-form-group-label lmx-{{:: lmx-labelAlign+'align'}}" for="{{itemId}}">{{labelText}}</label>
    </div>
    <div class="lmx-input-container">
        <div><ng-transclude></ng-transclude></div>
        <div class="lmx-help-block" ng-if="form.$submitted">
            <div class="lmx-help-block__error" ng-if="model.$error.validationErrors" ng-repeat="error in model.$error.validationErrors">
                <div>{{error}}</div>
            </div>
            <div class="lmx-help-block__error" ng-if="!model.$error.validationErrors" ng-repeat="(error, value) in model.$error">
                <div>{{errorMessage(error, model.$viewValue)}}</div>
            </div>
        </div>
    </div>
</div>
