<div>
    <div ng-if=":: registration">
        <h2>{{'personal.title' | translate}}</h2>
    </div>
    <div class="lmx-questionnaire" loader="loader.templatesInProgress" ng-class="::{'lmx-questionnaire-edit': !registration}">
        <div ng-hide="loader.templatesInProgress">
            <div class="lmx-questionnaire-column">
                <questionnaire-item ng-repeat="questionnaireItem in questionnaire | filter: {type: questionnaireItemTypes.question} : true | orderBy: 'order' track by questionnaireItem.id" question="questionnaireItem"></questionnaire-item>
            </div>
            <questionnaire-group ng-repeat="questionnaireItem in questionnaire | filter: {type: questionnaireItemTypes.questionGroup} : true | orderBy: 'order' track by questionnaireItem.id" group="questionnaireItem" class="lmx-questionnaire-column"></questionnaire-group>
        </div>

        <lmx-notifications ng-if=":: registration" area="registration"></lmx-notifications>
        <lmx-notifications area="questionnaire"></lmx-notifications>
        <div ng-if="!loader.templatesInProgress">
            <div class="lmx-btn-container">
                <div ng-hide="loader.saveInProgress">
                    <button type="button" ng-if=":: registration" class="lmx-btn-cancel" ng-click="cancelForm()" id="lmx-registration-questionnaire__cancel">
                        {{'buttons.cancel' | translate}}
                    </button>
                    <button type="button" ng-click="saveQuestionnaire()" id="lmx-registration-questionnaire__submit" ng-class="::{'lmx-right': !registration}">
                        {{(registration ? 'buttons.next' : 'buttons.save') |translate}}
                    </button>
                </div>
                <inline-loader>loader.saveInProgress</inline-loader>
            </div>
        </div>
    </div>
</div>
