<div class="lmx-container lmx-feedback">
    <section>
        <h2>{{'feedback.title' | translate}}</h2>
        <lmx-notifications area="feedback"></lmx-notifications>

        <div loader="inProgress && messages === undefined">
            <div ng-show="!inProgress || messages !== undefined">
                <div class="lmx-hint">
                    <p ng-bind-html="'feedback.askQuestion' | translate"></p>
                </div>

                <form novalidate="" name="feedbackForm" ng-submit="feedbackForm.$valid && send(feedbackForm)">
                    <form-group>
                        <textarea ng-disabled="sendInProgress" id="lmx-msgTextarea" name="msgTextarea" ng-model="messageModel.text" placeholder="{{'feedback.typeText' | translate}}" required="">
                        </textarea>
                    </form-group>

                    <inline-loader line="">sendInProgress</inline-loader>

                    <div class="lmx-file-input-and-submitter lmx-clearfix lmx-margin-bottom" ng-if="!sendInProgress">
                        <file-input ng-model="messageModel.attachment" class="lmx-left"></file-input>
                        <button type="submit" class="lmx-right lmx-row">
                            {{'buttons.send' | translate}}
                        </button>
                    </div>
                </form>

                <div class="lmx-message-history" loader="sendInProgress || inProgress">
                    <lmx-scroller>
                        <div class="lmx-chat-message-line lmx-clearfix" ng-repeat="item in messages track by item.message.id">
                            <div ng-class="{'lmx-outcoming': item.isUserMessage}" class="lmx-chat-message">
                                <div class="lmx-from">
                                    {{'feedback.' + (item.isUserMessage ? 'you' : 'operator') |
                                    translate}}
                                </div>
                                <div class="lmx-text">{{::item.message.message}}</div>
                                <div class="lmx-file-name" ng-if="item.message.fileName">
                                    {{'feedback.file' | translate}}: {{::item.message.fileName}}
                                </div>
                                <div class="date">
                                    {{::item.message.dateTime | toUTC | shortDateTime}}
                                </div>
                            </div>
                        </div>
                    </lmx-scroller>
                </div>
            </div>
        </div>
    </section>
</div>
