<div class="offers-list">
    <div ng-repeat="offer in offers track by offer.id" ng-click="openCommunicationOfferModal(offer)" class="offer card">
        <div class="card-image">
            <img ng-src="{{::offer.imgUrl}}"
                fallback-image
                fallback-title="{{'imageNotFound' | translate}}"
                alt="">
        </div>
        <div class="content">
            <div class="reward-thumbnail" ng-if=":: offer.rewardThumbnail" ng-switch="rewardThumbnailTypes[offer.rewardThumbnail.$type]">
                <div class="two-line-text" ng-switch-when="twoLineText">
                    <div title="{{::offer.rewardThumbnail.firstLine}}" class="first-line">{{::offer.rewardThumbnail.firstLine}}</div>
                    <div title="{{::offer.rewardThumbnail.secondLine}}" class="second-line">{{::offer.rewardThumbnail.secondLine}}</div>
                </div>
                <div class="image-with-text" ng-switch-when="imageWithText">
                    <div title="{{::offer.rewardThumbnail.header}}">{{::offer.rewardThumbnail.header}}</div>
                    <div class="reward-image">
                        <img ng-src="{{::offer.rewardThumbnail.imgUrl}}"
                            fallback-image
                            fallback-title="{{'imageNotFound' | translate}}"
                            alt="">
                    </div>
                    <div title="{{::offer.rewardThumbnail.footer}}">{{::offer.rewardThumbnail.footer}}</div>
                </div>
                <div class="old-new-price" ng-switch-when="oldNewPrice">
                    <div title="{{::offer.rewardThumbnail.oldPrice}}" class="old-price">{{::offer.rewardThumbnail.oldPrice}}</div>
                    <div title="{{::offer.rewardThumbnail.newPrice}}" class="new-price">{{::offer.rewardThumbnail.newPrice}}</div>
                </div>
            </div>
            <div class="card-content">
                <div class="card-title" title="{{::offer.title}}">{{::offer.title}}</div>
                <div class="card-description">{{::offer.description}}</div>
            </div>
        </div>
    </div>
    <div ng-if="!offers.length">{{'offers.' + (offerState === states.active ? 'noActiveOffers' : 'noFutureOffers') | translate}}</div>
</div>
