<div ng-class="::{'lmx-question-radio': !question.isMultiSelect,'lmx-question-checkbox': question.isMultiSelect,'lmx-question-custom': question.hasCustomAnswer}">
    <form novalidate="" name="questionnaireForm" ng-submit="questionnaireForm.$valid && save()">
        <form-group label-text="{{::question.name}}" ng-init="registerForm(questionnaireForm)" ng-class="::{'lmx-required': question.isRequired}">
            <input type="hidden" ng-model="question.value" ng-attr-id="{{::question.logicalName}}" ng-attr-name="{{::question.logicalName}}" ng-required="::question.isRequired">
            <!-- select (if answers > 1) -->
            <div ng-if=":: question.fixedAnswers.length > 1 && !question.isMultiSelect" class='multiselect'>
                <div ng-init="lmxCustomSelectValue = getFixedAnswerByProperty('isSelected', true).id" lmx-custom-select="" ng-model="lmxCustomSelectValue" repeat="question.fixedAnswers" ng-change="updateAnswerObject(lmxCustomSelectValue)" options="q.id as q.name for q in question.fixedAnswers" ng-class="::{'lmx-disabled': question.isReadOnly || disabled} "></div>
                <input ng-show="question.value.isCustom" type="text" ng-attr-name="{{::question.logicalName+'_custom'}}" ng-model="question.value.value" placeholder="{{'questionnaire.customAnswerPlaceholder' | translate}}" ng-required="question.value.isCustom" ng-pattern="question.regexp" class="lmx-question-custom__text">
            </div>
            <div ng-if=":: !(question.fixedAnswers.length > 1 && !question.isMultiSelect)" ng-repeat="item in question.fixedAnswers" ng-init="elementId = question.logicalName+'_'+item.id" ng-class="::{'lmx-question-radio-item': !question.isMultiSelect,'lmx-question-checkbox-item': question.isMultiSelect}">
                <!-- radio (if answers < 2) -->
                <div ng-if=":: !question.isMultiSelect">
                    <input type="radio" ng-model="question.value" ng-value="item" ng-disabled="item.isReadOnly || disabled" ng-attr-id="{{::elementId}}">
                    <label class="lmx-radio-item-label" ng-attr-for="{{::elementId}}">
                        {{::item.name}}
                    </label>
                    <input ng-if="item.isCustom" type="text" placeholder="{{'questionnaire.customAnswerPlaceholder' | translate}}" ng-attr-name="{{::question.logicalName+'_custom'}}" ng-model="item.value" ng-click="question.value = item" ng-required="question.value === item" ng-disabled="disabled || question.value !== item" ng-pattern="question.value === item ? question.regexp : undefined" class="lmx-question-custom__text">
                </div>

                <!-- checkBox -->
                <div ng-if=":: question.isMultiSelect">
                    <input type="checkbox" ng-attr-id="{{::elementId}}" ng-model="item.isSelected" ng-change="updateCheckBoxValues()" ng-disabled="item.isReadOnly || disabled">
                    <label ng-attr-for="{{::elementId}}" class="lmx-checkbox-item-label">
                        {{::item.name}}
                    </label>
                    <input ng-if="item.isCustom" type="text" name="{{::question.logicalName+'_custom'}}" ng-model="item.value" ng-click="item.isSelected = true" ng-required="item.isSelected" ng-disabled="disabled || !item.isSelected" ng-pattern="item.isSelected ? question.regexp : undefined" class="lmx-question-custom__text">
                </div>
            </div>

            <question-errors></question-errors>
        </form-group>
    </form>
</div>
