<div class="user-password row">
    <div ng-if=":: !registration" class="settings-line">
        <div ng-if="!isChangeProcessStarted" class="info">
            <h3>{{'accounts.userPassword.password' | translate}}</h3>
            <notifications area="userPassword"></notifications>
            <div class="current-value-container">
                <div class="current-value">
                    <span>**********</span>
                </div>
                <div>
                    <a ng-click="openForm()" class="pseudolink">{{'buttons.change'|translate}}</a>
                </div>
            </div>
        </div>

        <div ng-if="isChangeProcessStarted" class="user-password-changing">
            <h3>{{'accounts.userPassword.title' | translate}}</h3>
            <notifications area="userPassword"></notifications>
            <form novalidate name="form" ng-submit="form.$valid && save()">
                <form-group label-text="{{'accounts.userPassword.currentPassword' | translate}}">
                    <input type="password"
                           ng-model="model.currentPassword"
                           ng-disabled="inProgress"
                           name="currentPassword"
                           id="currentPassword"
                           autofocus
                           required>
                </form-group>

                <form-group label-text="{{'accounts.userPassword.newPassword' | translate}}">
                    <input type="password"
                           ng-model="model.newPassword"
                           ng-disabled="inProgress"
                           name="newPassword"
                           id="newPassword"
                           required
                           user-password-requirements />
                </form-group>

                <form-group label-text="{{'accounts.userPassword.repeatPassword' | translate}}">
                    <input type="password"
                           ng-model="model.repeatPassword"
                           ng-disabled="inProgress"
                           name="repeatPassword"
                           id="repeatPassword"
                           is-equal-passwords="model.newPassword"
                           required>
                </form-group>

                <div class="btn-container">
                    <inline-loader line>inProgress</inline-loader>
                    <div ng-hide="inProgress">
                        <button type="button" id="settings-cancel" ng-click="closeForm()" class="btn-cancel">
                            {{'buttons.cancel' | translate}}
                        </button>
                        <button type="submit" id="settings-submit">
                            {{'buttons.approve' | translate}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div ng-if=":: registration">
        <h2>{{'registration.passwordStep.title' | translate}}</h2>
        <notifications area="registration"></notifications>
        <form novalidate name="setPasswordForm" ng-submit="setPasswordForm.$valid && setPassword()">
            <form-group label-text="{{'registration.passwordStep.password' | translate}}">
                <input type="password"
                       ng-model="model.currentPassword"
                       id="password"
                       name="password"
                       ng-disabled="inProgress"
                       user-password-requirements
                       required>
            </form-group>
            <form-group label-text="{{'registration.passwordStep.repeatPassword' | translate}}">
                <input type="password"
                       ng-model="model.repeatPassword"
                       id="passwordConfirm"
                       name="passwordConfirm"
                       ng-disabled="inProgress"
                       is-equal-passwords="model.currentPassword"
                       required>
            </form-group>
            <div class="btn-container">
                <inline-loader line>inProgress</inline-loader>
                <div ng-hide="inProgress">
                    <button type="button" ng-click="closeForm()" class="btn-cancel" id="registration-password__cancel">
                        {{'buttons.cancel' | translate}}
                    </button>
                    <button type="submit" id="registration-password__submit">{{'buttons.next' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
