<div loader="inProgress">
    <div ng-if="!inProgress" class="modal-content-wrapper">
        <div class="modal-body">
            <a href="#/offers">
                <div class="lmx-image">
                    <img ng-src="{{:: getAnnouncementImagePath(announcement.attributesDictionary.OfferImage.value)}}" fallback-image="" fallback-title="{{'imageNotFound' | translate}}" alt="" ng-click="openOffer()">
                </div>
            </a>
        </div>
        <div class="modal-footer lmx-btn-container">
            <button type="button" ng-click="close()">{{'buttons.close' | translate}}</button>
        </div>
    </div>
</div>
