<div class="lmx-card" style="width: 400px; height: 400px;">
    <div class="lmx-card-image">
        <img ng-src="{{::coupon.imageUri || 'undefined'}}" fallback-image="" fallback-title="{{'coupons.imageNotFound' | translate}}" alt="" style="height: 250px; padding: 10px">
    </div>
    <div class="lmx-card-content">
        <span class="lmx-card-title">{{coupon.name}}</span>
        <span><b>{{'coupons.price' | translate}}:</b> {{coupon.price}} RUB</span>
    </div>
    <div class="lmx-card-reveal">
        <span class="lmx-card-title"><span class="glyphicon glyphicon-remove"></span>{{coupon.name}}</span>
        <p>
            <span><b>{{'coupons.description' | translate}}:</b>{{:: couponInfo.description ||
                ('coupons.noDescription' | translate)}}</span>
        </p>
        <button ng-if=":: loggedIn" type="button" ng-click="openBuyCouponModal(coupon)">
            <div>
                {{'coupons.buy' | translate}}
                <span class="lmx-price">{{ coupon.price | zeroFill: 2 }}</span>
            </div>
        </button>
        <button ng-if=":: !loggedIn" type="button" ng-click="goToLogin()">
            <div>{{'coupons.login' | translate}}</div>
        </button>
    </div>
</div>
