<div class="lmx-container lmx-merchants">
    <section>
        <h2>{{'merchants.title' | translate}}</h2>

        <div loader="loaders.inProgress">
            <div ng-if="!loaders.inProgress" ng-switch="!!merchants.length">

                <div ng-if=":: filterByRegion" class="lmx-row">
                    <div class="lmx-merchant-filter" ng-if=":: regions.length">
                        <div lmx-custom-select="" ng-model="region.id" repeat="regions" placeholder="{{'merchants.chooseRegion' | translate}}" options="r.id as r.name for r in regions"></div>
                        <div lmx-custom-select="" ng-model="city.id" repeat="cities" placeholder="{{'merchants.chooseCity' | translate}}" options="c.id as c.name for c in cities" loader="loaders.cities"></div>
                    </div>
                    <div ng-if="!regions.length">{{'merchants.noRegionInfo' | translate}}</div>
                </div>

                <lmx-tabs
                    class="merchantsMobileTabs"
                    list="{mapMobile: {name: 'На карте', value: 'mapMobile'}, merchantMobile: {name: 'Списком', value: 'merchantMobile'}}"
                    ng-model="selectedMobileTab"
                    view-field="name">
                </lmx-tabs>

                <div ng-switch-when="true" class="{{selectedMobileTab.value}} lmx-merchants-map-row" loader="loaders.brands || loaders.ymaps || loaders.merchantsList">
                    <lmx-map class="lmx-map" data="merchants" ng-if="merchants.length && !loaders.brands"></lmx-map>
                    <div class="lmx-merchant-list">
                        <lmx-scroller ng-hide="loaders.merchantsList">
                            <ul>
                                <li ng-repeat="merchant in merchants | limitTo: merchantsLimit track by merchant.id" ng-init="isUnclickable = !merchant.location" ng-class="::{'lmx-unclickable': isUnclickable}" ng-click="!isUnclickable && showMerchantOnMap($index)">
                                    <p onclick='clickOnMapTab()'>{{:: merchant.location ? (merchant.location.description) : ''}}</p>
                                 </li>
                            </ul>

                            <a class="lmx-pseudolink" ng-if="merchants.length > merchantsLimit" ng-click="changeListExpansionState(true)" href="">
                                <span ng-if="merchantsCountText">{{'merchants.showAll' | translate}} <span ng-bind-html="merchantsCountText"></span></span>
                            </a>
                            <a class="lmx-pseudolink" ng-if="merchantsLimit === merchants.length" ng-click="changeListExpansionState()" href="">
                                {{'merchants.hide' | translate}}
                            </a>
                        </lmx-scroller>
                    </div>
                </div>
                <div ng-if="!merchants.length && !loaders.merchantsList">
                    {{'merchants.' + (filterByRegion ? 'filteredNotFound' : 'notFound') | translate}}
                </div>

                <div class="lmx-offers lmx-row" ng-if="offers.length" loader="loaders.offers">
                    <h3>{{'merchants.offers' | translate}} &laquo;{{titleOfMerchantOffers}}&raquo;</h3>
                    <offers-list offers="offers"></offers-list>
                </div>
            </div>
        </div>
    </section>
</div>
