<div class="lmx-container lmx-merchants">
    <section>
        <h2>{{'merchants.title' | translate}}</h2>

        <div loader="loaders.inProgress">
            <div ng-if="!loaders.inProgress" ng-switch="!!merchants.length" class="lmx-merchants-by-regions__wrapper">
                <div ng-if=":: filterByRegion" class="lmx-row lmx-merchants-by-regions__filterByRegion">
                    <div class="lmx-merchant-filter" ng-if=":: regions.length">
                        <div lmx-custom-select="" ng-model="region.id" repeat="regions" placeholder="{{'merchants.chooseRegion' | translate}}" options="r.id as r.name for r in regions"></div>
                        <div lmx-custom-select="" ng-model="city.id" repeat="cities" placeholder="{{'merchants.chooseCity' | translate}}" options="c.id as c.name for c in cities" loader="loaders.cities"></div>
                    </div>
                    <div ng-if="!regions.length">{{'merchants.noRegionInfo' | translate}}</div>
                </div>

                <div ng-switch-when="true" class="lmx-merchants-map-row" ng-class="{'lmx-list-tab-selected': selectedTab.value === tabs.asList}" loader="loaders.brands || loaders.ymaps || loaders.merchantsList">
                    <lmx-tabs ng-hide="loaders.merchantsList" list="tabs" ng-model="selectedTab.value" view-field="name">
                    </lmx-tabs>

                    <div class="lmx-merchant-list">
                        <lmx-scroller ng-hide="loaders.merchantsList">
                            <ul>
                                <li ng-repeat="merchant in merchants | limitTo: merchantsLimit track by merchant.id" ng-init="isUnclickable = !merchant.location" ng-class="::{'lmx-unclickable': isUnclickable}" ng-click="!isUnclickable && showMerchantOnMap($index)">
                                    <p>
                                        {{:: merchant.title}}{{:: merchant.location ? (', ' +
                                        merchant.location.description) : ''}}
                                    </p>
                                </li>
                            </ul>

                            <a class="lmx-pseudolink" ng-if="merchants.length > merchantsLimit" ng-click="changeListExpansionState(true)" href="">
                                <span ng-if="merchantsCountText">{{'merchants.showAll' | translate}}
                                    <span ng-bind-html="merchantsCountText"></span></span>
                            </a>
                            <a class="lmx-pseudolink" ng-if="merchantsLimit === merchants.length" ng-click="changeListExpansionState()" href="">
                                {{'merchants.hide' | translate}}
                            </a>
                        </lmx-scroller>
                    </div>

                    <lmx-map class="lmx-map" data="merchants" ng-if="merchants.length && !loaders.brands"></lmx-map>

                    <script type="text/javascript">
                        document.addEventListener("lmxMapReady", function() {
                            var map = window.lmxMap;
                            map.balloon.events.add("open", function() {
                                $(".ymaps-2-1-74-panel-pane").addClass("panel-opened");
                                $(".ymaps-2-1-74-panel-pane").removeClass("panel-closed");
                                $(".ymaps-2-1-74-copyrights-pane").addClass("copyrights-hidden");
                            });
                            map.balloon.events.add("close", function() {
                                $(".ymaps-2-1-74-panel-pane").addClass("panel-closed");
                                $(".ymaps-2-1-74-panel-pane").removeClass("panel-opened");
                                $(".ymaps-2-1-74-copyrights-pane").removeClass("copyrights-hidden");
                            });
                        });
                    </script>
                    <style>
                        @media (max-width: 450px) {
                            .ymaps-2-1-74-panel-pane.panel-opened,
                            .ymaps-2-1-74-panel-pane.panel-opened
                                .ymaps-2-1-74-balloon-panel
                                .ymaps-2-1-74-balloon {
                                top: 10px;
                                left: 10px;
                                right: 10px;
                                bottom: 10px;
                            }
                            .ymaps-2-1-74-panel-pane.panel-opened
                                .ymaps-2-1-74-balloon-panel
                                .ymaps-2-1-74-balloon__content
                                ymaps {
                                overflow-y: visible !important;
                                height: 100% !important;
                            }
                            .ymaps-2-1-74-copyrights-pane.copyrights-hidden {
                                z-index: -1 !important;
                            }
                        }
                    </style>
                </div>
                <div ng-if="!merchants.length && !loaders.merchantsList">
                    {{'merchants.' + (filterByRegion ? 'filteredNotFound' : 'notFound') |
                    translate}}
                </div>

                <div class="lmx-offers lmx-row" ng-if="offers.length" loader="loaders.offers">
                    <h3>
                        {{'merchants.offers' | translate}} &laquo;{{titleOfMerchantOffers}}&raquo;
                    </h3>
                    <offers-list offers="offers"></offers-list>
                </div>
            </div>
        </div>
    </section>
</div>
