<div class="lmx-social" ng-class="::{'lmx-social-binding': isBinding}">
    <div ng-if=":: clients.length" ng-switch=":: isBinding" >
        <div ng-switch-when="false">
            <div class="lmx-hint lmx-row" ng-bind-html="'accounts.socials.login' | translate"></div>

            <ul loader="isProgress.getSocialInfo">
                <li ng-repeat="client in clients" ng-init = 'classes = {
                    "VKontakte": "vk",
                    "Facebook": "facebook"
                }; platform = client.providerType'>
                    <!-- <img class="lmx-social-logo fa fa-{{ classes[key = platform] }}" title="{{:: client.name }}" ng-click="authHandler(client)" ng-src="{{:: socialImagesPath}}/{{:: client.providerType.toLowerCase()}}-logo.svg" fallback-image=""> -->
                    <a class="lmx-social-logo fa fa-{{ classes[key = platform] }}" title="{{:: client.name }}" ng-click="authHandler(client)" ></a>
                </li>
            </ul>
        </div>

        <div ng-switch-when="true">
            <h3>{{'accounts.socials.title' | translate}}</h3>

            <ul loader="isProgress.getSocialInfo">
                <li ng-repeat="client in clients" ng-init = 'classes = {
                    "VKontakte": "vk",
                    "Facebook": "facebook"
                }; platform = client.providerType'>
                    <p class="lmx-social-logo fa fa-{{ classes[key = platform] }}" alt="{{:: client.name }} " ng-click="authHandler(client)"></p>

                    <div class="lmx-social-action">
                        <a ng-click="toggleBind(client)" class="lmx-pseudolink" href="">{{'accounts.socials.' + (isBinded(client) ? 'unbind' : 'bind') |
                            translate}}</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
