<div class="lmx-personal-goods-offer__info" ng-class="::{'lmx-card': isPreview}">
    <div class="lmx-card-content lmx-clearfix">
        <div ng-if=":: goodsPreview" class="lmx-goods-preview">
            <div class="lmx-selected-count">
                {{('personalGoods.goodsSelected' | translate: {approvedCount:
                offer.approvedGoodsCount, maxGoodsCount: offer.attribute.maxGoodsCount})}}
            </div>
            <div ng-repeat="goods in offer.approvedGoods track by goods.id" class="lmx-goods">
                <img ng-src="{{:: goods.imgUrl}}" fallback-image="" alt="" title="{{:: goods.title}}">
            </div>
        </div>

        <brands-names brands="offer.brands"></brands-names>

        <div class="lmx-title-wrap" ng-switch=":: isPreview">
            <h2 ng-switch-when="false" class="lmx-title">{{:: offer.title}}</h2>
            <h4 ng-switch-when="true" class="lmx-title">{{:: offer.title}}</h4>
        </div>

        <div ng-if="showFullDescription" class="lmx-description lmx-row" ng-bind-html="offer.description | markdown"></div>
        <div ng-if="!showFullDescription" class="lmx-description lmx-row">
            {{:: offer.shortDescription}}
        </div>
        <div class="lmx-duration lmx-row">
            <b>{{'personalGoods.offerPeriod' | translate}}:</b>
            <div>{{:: offer.begin | toUTC | timeRange: (offer.end | toUTC) | capitalize}}</div>
        </div>
        <div class="lmx-edit-duration lmx-row">
            <b ng-bind-html="('personalGoods.editingNotAvailable' | translate) + ':'"></b>
            <div>
                {{:: offer.attribute.startFillDate | toUTC | timeRange: (offer.attribute.endFillDate
                | toUTC) | capitalize}}
            </div>
        </div>
    </div>
    <div class="lmx-card-action lmx-clearfix">
        <button type="button" ng-click=":: changeLocation('personal-goods/' + offer.id)">
            {{'buttons.viewMore' | translate}}
        </button>
    </div>
</div>
